
html{
    height: 100%;
    color:rgb(236, 236, 236)
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  

}
#container{
    height: 95%;
    width: 98%;
   margin-left:1%;
   margin-top: 1%;
 
 
  
}
#page-top{
display: flex;
height: 15%;
background-color: rgb(0, 0, 0, .4);
border-radius: 10px;
}
#page-middle{
    height: 85%;
    background-color: rgb(58, 58, 61, .5);
    display: block;
    border-radius: 10px;
}
#title{
   
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 50px;
    margin-right: 25px;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, .0);
}
#navbar{
    width:fit-content;
    margin-right: 0px;
    background-color:  rgb(0, 0, 0, .0);;
    display:flex;
    border-radius:10px;
    

}
.dropdown{
  
    align-self: center;
    height: 100px;
    width: 100px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    
    text-decoration: none;
}
.button{
   height: 100%;
   width: 100%;
   font-size: 22px;
   border-color: rgb(0,0,0, 0);
   border-radius: 5px;
   background-color: rgb(0, 0, 0, .1);
   color:rgb(236, 236, 236)
   
}
.button:hover{
    color: aliceblue;
    background-color:rgb(128, 128, 128, .5) ;
}


#page-bottom{
    height: 5%;
    background-color: rgb(0, 0, 0, .4);
    border-radius: 5px;
}